/* Yes, I love Lisa Simpson and when I grow up, I'm going to marry her. */
@media only screen and (min-width: 1401px) {
  .ralphy {
    background: url(ralphy.gif) 0px 0px;
    width: 250px;
    height: 184px;
  }
}

/* No-o-o-o! */
@media only screen and (min-width: 1201px) and (max-width: 1400px) {
  .ralphy {
    background: url(ralphy.gif) 250px 0px;
    width: 250px;
    height: 184px;
  }
}

/* Now, you listen to me! I don't like you! I never liked you! */
@media only screen and (min-width: 1001px) and (max-width: 1200px) {
  .ralphy {
    background: url(ralphy.gif) 0px -184px;
    width: 250px;
    height: 188px;
  }
}

/* And the only reason I gave you that stupid valentine is 'cause nobody else would! */
@media only screen and (min-width: 801px) and (max-width: 1000px) {
  .ralphy {
    background: url(ralphy.gif) 250px -184px;
    width: 250px;
    height: 188px;
  }
}

/* Watch this, Lise. You can actually pinpoint the second when his heart rips in half. */
@media only screen and (min-width: 601px) and (max-width: 800px) {
  .ralphy {
    background: url(ralphy.gif) 0px -372px;
    width: 250px;
    height: 188px;
  }
}

/* Ralphy's heart rips in half. */
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .ralphy {
    background: url(ralphy.gif) 250px -372px;
    width: 250px;
    height: 188px;
  } 
}