/* STYLE.CSS */

body {
  background-color: black;
}

#title {
  color: crimson;
  text-align: center;
  text-transform: uppercase;
  font-family: fantasy;
  font-size: 4em;
}

video {
  width: 80%;
  display: block;
  margin: auto;
}

#lyrics {
  color: crimson;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.3em;
  text-transform: uppercase;
}